## Java

*.class
*.war
*.ear
hs_err_pid*

## Eclipse
libGDX Project/.classpath
libGDX Project/.project
libGDX Project/.metadata
libGDX Project/**/bin/
libGDX Project/tmp/
libGDX Project/*.tmp
libGDX Project/*.bak
libGDX Project/*.swp
libGDX Project/*~.nib
libGDX Project/local.properties
libGDX Project/.settings/
libGDX Project/.loadpath
libGDX Project/.externalToolBuilders/
libGDX Project/*.launch
Jogos Ref/Drop_Bruno/.classpath
Jogos Ref/Drop_Bruno/.project
Jogos Ref/Drop_Bruno/.metadata
Jogos Ref/Drop_Bruno/**/bin/
Jogos Ref/Drop_Bruno/tmp/
Jogos Ref/Drop_Bruno/*.tmp
Jogos Ref/Drop_Bruno/*.bak
Jogos Ref/Drop_Bruno/*.swp
Jogos Ref/Drop_Bruno/*~.nib
Jogos Ref/Drop_Bruno/local.properties
Jogos Ref/Drop_Bruno/.settings/
Jogos Ref/Drop_Bruno/.loadpath
Jogos Ref/Drop_Bruno/.externalToolBuilders/
Jogos Ref/Drop_Bruno/*.launch

## Gradle
libGDX Project/.gradle
libGDX Project/gradle-app.setting
Jogos Ref/Drop_Bruno/.gradle
Jogos Ref/Drop_Bruno/gradle-app.setting

## OS Specific
libGDX Project/.DS_Store
Jogos Ref/Drop_Bruno/.DS_Store

# Drop
*.db